<h1>vis-timeline</h1>


<p-panel header="Header">
  <div id="visualization" #timeline></div>

  
<div *ngIf="addDialog">
  <p-confirmDialog #add [style]="{width: '50vw'}">

    <ng-template pTemplate="header">
      Yeni Ekle
    </ng-template>

    <ng-template pTemplate="footer">

      <div class="field grid mb-2">
        <input id="addInput" type="text" class="w-full" name="name" pInputText [(ngModel)]="addInput" />
      </div>

      <div class="field grid mb-2">
        <button type="button" pButton icon="pi pi-times" label="İptal" (click)="add.reject()"></button>
        <button type="button" pButton icon="pi pi-check" label="Evet" (click)="add.accept()"></button>
      </div>
    </ng-template>

  </p-confirmDialog>
</div>

<div *ngIf="updDialog">
  <p-confirmDialog #upd [style]="{width: '50vw'}">

    <ng-template pTemplate="header">
      Güncelle
    </ng-template>


    <ng-template pTemplate="footer">

      <div class="field grid mb-2">
        <input id="updateInput" type="text" class="w-full" name="name" pInputText [(ngModel)]="updateInput" />
      </div>

      <div class="field grid mb-2">
        <button type="button" pButton icon="pi pi-times" label="İptal" (click)="upd.reject()"></button>
        <button type="button" pButton icon="pi pi-check" label="Evet" (click)="upd.accept()"></button>
      </div>

    </ng-template>

  </p-confirmDialog>
</div>

</p-panel>

<p-toast></p-toast>

